
:root{
	--font: Arial, Helvetica, sans-serif;
  	--white: #fff;
  	--green: #678d0d;
  	--green-400: #84b80c;
  	--green-300: #9cd80f;
  	--yellowgreen: #BFDB38;
	--spacer: 140px;
	--pink-light: #e1bee7;
	--white-pink: #fff1ff;
	--cyan: #00bcd4;
	--cyan-100: #e5ffff;
	--cyan-400: #b2ebf2;
}

body{
	font-family: var(--font);
  }


.contenedor {
	display: grid;

	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);

	/* * Ejemplo 2 */
	grid-template-areas:
		"grid-1 grid-2 grid-2"
		"grid-3 grid-3 grid-4"
		"grid-5 grid-6 grid-7"
	;

	background: var(--white);
	place-content: center;
}


.item {
  	font-size: 4rem;
	padding: 2rem;
}
.item-1{
	background: var(--yellowgreen);
	grid-area: grid-1;
}
.item-2{
	background: var(--green);
	grid-area: grid-2;
}
.item-3{
	background: var(--green-300);
	grid-area: grid-3;
}

.item-4{
	background: var(--yellowgreen);
	grid-area: grid-4;
}
.item-5{
	background: var(--yellowgreen);
	grid-area: grid-5;
}
.item-6{
	background: var(--green-400);
	grid-area: grid-6;
}
.item-7{
	background: var(--green);
	grid-area: grid-7;
}

