
:root{
	--font: Arial, Helvetica, sans-serif;
  	--white: #fff;
  	--green: #678d0d;
  	--yellowgreen: #BFDB38;
	--spacer: 140px;
	--pink-light: #e1bee7;
	--white-pink: #fff1ff;
	--cyan: #00bcd4;
	--cyan-100: #e5ffff;
	--cyan-400: #b2ebf2;
}

body{
	font-family: var(--font);
  }


.contenedor {
	display: grid;

	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 75px);

	/* * Ejemplo 2 */
	grid-template-areas:
		"header header header"
		"side main main"
		"side main main"
	;
	border: 5px solid var(--pink-light);
	background: var(--white);
	place-content: center;
}


.item {
  	font-size: 4rem;
}
.item-1{
	border: 5px solid var(--pink-light);
	background: var(--white-pink);

	/* * Ejemplo 1 */
	/* grid-column-start: 1;
	grid-column-end: 4; */

	/* * Ejemplo 2 */
	grid-area: header;
}
.item-2{
	border: 5px solid var(--pink-light);
	background: var(--white-pink);
	/* * Ejemplo 1 */
	/* grid-row: 2 / 4; */

	/* * Ejemplo 2 */
	grid-area: side;
}
.item-3{
	border: 5px solid var(--cyan-400);
	background: var(--cyan-100);
	/* * Ejemplo 1 */
	/* grid-area: 2 / 2 / 4 / 4; */

	/* * Ejemplo 2 */
	grid-area: main;


}

