
:root{
	--font: Arial, Helvetica, sans-serif;
  	--white: #fff;
  	--green: #678d0d;
  	--green-400: #84b80c;
  	--green-300: #9cd80f;
  	--yellowgreen: #BFDB38;
	--spacer: 140px;
	--pink-light: #e1bee7;
	--white-pink: #fff1ff;
	--cyan: #00bcd4;
	--cyan-100: #e5ffff;
	--cyan-400: #b2ebf2;
}

body{
	font-family: var(--font);
	font-size: 16px;
  }


.contenedor {
	display: grid;
	border: 5px solid var(--pink-light);
	background: var(--white-pink);

	/* * Funciones especiales */
	grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
	grid-template-rows: repeat(3, auto);

	background: var(--white-pink);
	/* place-content: center; */
}


.item {
	border: 5px solid var(--cyan);
  	font-size: 1rem;
}


